---
import CardProduct from "@components/CardProduct.astro"
import { getCollection } from 'astro:content';
const productsData = await getCollection("products")
---

<section
  id='products'
  class='flex flex-col items-center bg-[#04303b] text-white py-8 shadow-2xl'
>
<div class="flex flex-col md:flex-row justify-center gap-x-2 items-center md:items-baseline">
    <h2 class="text-[#82c75c] text-2xl">Nuestros Productos</h2>
    <a href="" class="hover:text-[#e8e454]">Ver más →</a>
</div>
<div class='grid w-full justify-center md:grid-flow-col md:justify-around mt-8'>
  {
    productsData.map((productEntity) => (
           productEntity.data.slice(0, 4).map((product) => (
                <CardProduct
                    slug={product.slug}
                    title={product.title}
                    description={product.description}
                    amount={product.amount}
                    available={product.available}
                />
            ))
        ))
    }
    </div>
  </div>
</section>
