---
import CardProduct from "@components/CardProduct.astro"
import { getCollection } from 'astro:content';
const productsData = await getCollection("products")
---

<section
  id='products'
  class='flex flex-col items-center bg-[#04303b] text-white py-8 px-4'
>
<div class="flex flex-col md:max-w-3xl items-center">
    <h2 class="text-[#82c75c] text-4xl">Nuestros Productos</h2>
</div>


<div class='grid w-full justify-center md:grid-flow-col md:justify-around mt-8'>
  {
    productsData.map((productEntity) => (
           productEntity.data.slice(0, 4).map((product: any) => (
                <CardProduct
                    slug={product.slug}
                    title={product.title}
                    description={product.description}
                    amount={product.amount}
                    available={product.available}
                    image_path={product.image_path}
                />
            ))
        ))
    }
    </div>
  </div>
  <a href="/products" class="md:text-xl mt-8 text-[#e8e454] hover:text-[#82c75c] underline">Ver más productos→</a>
</section>
