---
import Layout from '@layouts/Layout.astro';
import ContactButton from "@components/ContactButton.astro"
import CardProductDetail from "@components/CardProductDetail.astro"
import { getCollection } from 'astro:content';
const productsData = await getCollection("products")
---

<Layout footerBg="bg-[#04303b]">
<nav
  class='flex top-0 w-full px-6 py-4 md:z-50 md:fixed backdrop-blur-md md:font-semibold items-center md:px-12 max-md:flex-col md:flex-row sm:justify-center md:justify-between text-center bg-white/90 rounded-b-xl md:py-4 text-white justify-items-center lg:text-lg'
>
  <div class='flex max-md:flex-col'>
    <img
      class='object-scale-down h-14 md:pr-8'
      src='/images/logo.png'
      alt='Landak'
    />
  </div>
  <ul class='flex max-md:flex-col space-x-3 lg:space-x-8 items-center'>
    <li
      class='hover:text-[#04303b] text-[#82c75c] transition-all duration-300 ease-in-out'
    >
      <a href='/'>← Volver al inicio</a>
    </li>
  </ul>
  <ContactButton />
</nav>
<section class="flex flex-col gap-y-4 px-4 bg-[#04303b] pb-8">
<div class="flex flex-col pt-4 md:pt-32 w-full gap-y-8 items-center">
    <h2 class="text-[#82c75c] text-4xl">Nuestros Productos</h2>
    <p class="text-[#e8e454] text-2xl font-thin">Presentaciones disponibles en envase de vidrio premium, 100% nuevo y reutilizable con tapas y sellos libres de BPA</p>
    <div class="grid grid-col md:grid-cols-2 justify-start items-center gap-8">
    {
        productsData.map((productEntity) => (
            productEntity.data.map((product) => (
                    <CardProductDetail
                        slug={product.slug}
                        title={product.title}
                        description={product.description}
                        amount={product.amount}
                        available={product.available}
                        cant={product.cant}
                    />
                ))
            ))
        }
    </div>
</div>

</section>
</Layout>
